:root {
    --primary-color: #0056b3;
    --secondary-color: #fff;
    --text-color: #333;
    --font-size-title: 1.5rem;
    --font-size-button: 0.75rem;
    --padding-button: 4px 35px;
    --border-radius: 4px;
    --transition-speed: 0.3s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--text-color);
}

.back-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: var(--padding-button);
    border-radius: var(--border-radius);
    font-size: var(--font-size-button);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.back-button:hover {
    background-color: #003d80; /* Slightly darker shade for hover */
}
