.table-container {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 4px;
    border-radius: 0.375rem;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.75rem;
    text-align: left;
    color: var(--primary-color);
}

thead tr {
    background-color: #f2f2f2;
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 2px solid #ddd;
}

thead th {
    padding: 0.75rem 0.8rem;
    font-size: 0.72rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

tbody tr {
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: white;
}

tbody td {
    padding: 0.75rem 1rem;
    color: #333;
}

tbody td img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.category-select-folder{
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    table {
        font-size: 0.75rem;
    }
    thead th, tbody td {
        padding: 0.5rem;
    }
    tbody td img {
        width: 20px;
        height: 20px;
    }
}


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 0.8rem;
}

.pagination-btn {
    padding: 4px 50px;
    background-color: #105494;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}



.pagination-btn:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

.edit-button-folder {
    font-size: 1rem;
    background-color: #fff;
    border: none;
    color: #105494;
}
.delete-button-folder {
    font-size: 1rem;
    background-color: #fff;
    border: none;
    color: red;
}