.grid-item {
    padding: 15px;
    box-sizing: border-box;
}

.printer-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
}

.printer-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

.printer-card h5 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #343a40;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.printer-card p {
    font-size: 10px;
    color: #6c757d;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.printer-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 170px;
    height: 100px;
    margin: 0 auto;
    border-radius: 4px;
}

.barcode {
    max-width: 10%;
    max-height: 5%;
    object-fit: contain;
}

.printer-details {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #6c757d;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.printer-time {
    font-size: 10px;
    color: #6c757d;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
